@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}


.bg-picture-1{
    background-image: url("/src/Resources/1.jpg");
}
.bg-picture-2{
    background-image: url("/src/Resources/2.jpg");
}
.bg-picture-3{
    background-image: url("/src/Resources/3.jpg");
}
.bg-picture-4{
    background-image: url("/src/Resources/4.jpg");
}
.bg-picture-5{
    background-image: url("/src/Resources/5.jpg");
}
.bg-picture-6{
    background-image: url("/src/Resources/6.jpg");
}
.bg-picture-7{
    background-image: url("/src/Resources/7.jpg");
}
.bg-picture-8{
    background-image: url("/src/Resources/8.jpg");
}
.bg-picture-9{
    background-image: url("/src/Resources/9.jpg");
}
.bg-picture-10{
    background-image: url("/src/Resources/10.jpg");
}

.slick-dots {
    /* top: 100px;  */
    /* left: 100px; */
    color: white !important;
}

.slick-prev {
    left: 25px !important;
    z-index: 1;
}

.slick-next {
    right: 25px !important;
}

.slick-prev:before, .slick-next:before {
   color: #000;
}

.active{
    background-color: black !important;
}
.wrapper {
    -webkit-transform: translate3d(0,0,0);
}
.slide {
    -webkit-transform: translate3d(0,0,0);
}
.section {
    -webkit-transform: translate3d(0,0,0);
}